<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyb.backend.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.zyb.backend.model.entity.User">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="userNo" column="userNo" jdbcType="VARCHAR"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="realName" column="realName" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
        <result property="gender" column="gender" jdbcType="TINYINT"/>
        <result property="birthday" column="birthday" jdbcType="DATE"/>
        <result property="role" column="role" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <result property="registerTime" column="registerTime" jdbcType="TIMESTAMP"/>
        <result property="lastLoginTime" column="lastLoginTime" jdbcType="TIMESTAMP"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, userNo, username, password, realName,
        phone, email, avatar, gender, birthday,
        role, status,
        registerTime, lastLoginTime,
        createTime, updateTime, isDelete
    </sql>
</mapper>
