# 线上配置文件
server:
  port: 8101
spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/my_db
    username: root
    password: root
  data:
    redis:
      database: 1
      host: localhost
      port: 6379
      timeout: 5000
      password:

mybatis-plus:
  configuration:
    # 生产环境关闭日志
    log-impl: ''

knife4j:
  basic:
    enable: true
    username: root
    password: root
  setting:
    language: zh_cn
